/**
*		Hides text selection for maximum prettiness
*		(note that this does not appear to work with less:extend(), unfortunately)
*/

.unselectableText {
	cursor:default;		/* prevents text selector from showing up when mouse is over text */
}

.unselectableText::selection {
	background:transparent;
}

.unselectableText::-moz-selection {
	background:transparent;
}

.unselectableText::-webkit-selection {
	background:transparent;
}

/**
*	Base properties
*/

html, body {
	height: 100%;
	width: 100%;
	color: #434A54;
	background-color: rgba(255, 255, 255, 1);
	/*background-image: url("http://commentnation.com/hotlinks/baby_blue_hexagon_tile_seamless_background_pattern.jpg");
	//background-repeat: repeat;
*/
}

.genericInfoPanel {
	margin-top: 2%;
	margin-left: 10%;
	width: 75%;
	text-align: center;
	padding: 3%;
	font-size: 14pt;
}

.genericListIconImg {
	width: 100%;
	max-width: 120px;
	/* alter these depending on what icons we get */
	max-height: 120px;
}

.genericListIconImgContainer {
	display: table-cell;
	float: none;
	vertical-align: top;
	height: 100%;
}

.popover {
    /* bootstrap popover property override */
	color: #434A54;
	background: red!important;
	border: solid 1px red;
}

.popover.right .arrow {
	border-right-color: red;
}

.popover.right .arrow:after {
	border-right-color: red;
}

.selecter .selecter-item:hover {
	background: #f3f3f3!important;
}

.selecter .selecter-item.selected {
	background: none repeat scroll 0% 0% #82bfe7!important;
}

.selecter .selecter-item.selected:hover {
	background: none repeat scroll 0% 0% #82bfe7!important;
}

.selecter option:hover {
	background: #f3f3f3!important;
}

.selecter option.selected {
	background: none repeat scroll 0% 0% #82bfe7!important;
}

.selecter option.selected:hover {
	background: none repeat scroll 0% 0% #82bfe7!important;
}

/*
.selector_multiple {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: 0px none;
    position: absolute;
    left: 0px;
    margin: 0;
    text-transform: none;
    cursor: auto;
    border: hidden;
}
*/
.selector_multiple option {
    padding: 6px 10px;
    border-bottom: thin solid #E6E9ED;
    text-overflow: ellipsis;
    cursor: pointer;
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #FFF;
}

.has-success {
    color: #8CC152;
    border-color: #8CC152;
}

.has-error {
    color: #DA4453;
    border-color: #DA4453;
}

.scroller-content {
	padding: 0px!important;
	overflow-y: auto;
	height: 100%;
}

.scroller-handle {
	background: none repeat scroll 0% 0% rgb(59, 175, 218)!important;
	width: 14px!important;
	right: 3px!important;
}

.scroller-handle:hover {
	background: none repeat scroll 0% 0% rgba(134, 223, 252, 1)!important;
	width: 14px!important;
	right: 3px!important;
}

.btn-file {
	position: relative;
	overflow: hidden;
	background-color: #3BAFDA;
	color: white;
}

.serverStatus {
	background-color: #3BAFDA;
	color: white;
	height: 58px;
	width: 54px;
	padding: 2px 1px;
	margin: 3px 1px;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

/**
*	General multipurpose elements
*/

/*.centeringDiv {
//	display: block;
//	margin: 0 auto;
//	width: 80%;
//	padding: 2%;
//}
*/
.genericBFToggleLabel {
/*    margin-left: -10px; */
    padding-left: 20px;
}

#rankPatternsTableBody input {
    margin-left: -10px;
}

#rankEntitiesTableBody input {
    margin-left: -10px;
}

#rankPatternsTableBody .radioScore {
    margin-right: 25px;
    padding-right: 25px;
}

#rankEntitiesTableBody .radioScore {
    margin-right: 25px;
    padding-right: 25px;
}

.panelCenteringDiv {
	display: inline-flex;
	position: absolute;
	margin: 13px 65px 13px 65px;
	width: 90%;
  	height: 80%;
	padding: 26px;
}

.genericIceSearchForm {
	width: 100%;
}

.genericIceSearchText {
	padding-left: 40px!important;
	width: 100%!important;
}

.genericIceSelector {
	background-color: lighten(#3BAFDA, 35%)!important;
}

.internalIceSelector {
	max-width: 100%!important;
	margin: 20px!important;
}

.internalIceInput {
	max-width: 100%!important;
	margin: 20px!important;
}

.navBar {
    background-color: #2971AE;
}

.fullIceSelector {
	max-width: 100%!important;
	margin: 0px!important;
}

.genericIcePanel {
	opacity: 0.88;
	width: 50%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
	overflow: hidden;
	border: 1px solid #ABEBFF;
}

.genericIcePanelHeader {
	background-color: #86DFFC!important;
}

.navbarCurrentBreadCrumbSpan {
	background-color: 
}

.genericIceButton {
	background-color: #3BAFDA;
	margin-top: 0px!important;
	margin-left: 30px;
	margin-right: 30px;
	padding: 5px;
}

.btn.genericIceButton.disabled {
	background-color: #3BAFDA;
}
.btn.genericIceButton:hover {
	background-color: lighten(#3BAFDA, 10%);
}

.genericIceButtonGroup {
	margin-top: 0px!important;
	margin-left: 3%;
	margin-right: 3%;
}

.genericIceButtonSpan {
	display: inline-block;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	zoom: 1;
	text-align: center;
	padding-top: 1em;
}

.genericIceConfirmationModal {
	top: 30%;
}

.genericIceConfirmationModalDialog {
	border: 1px solid #ABEBFF;
	border-radius: 5px;
}

.genericIceConfirmationModalText {
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.genericIceConfirmationModalButtonSpan {
	margin-bottom: 5%;
}

.genericModalInfoText {
	margin-bottom: 10px;
}

.genericValidatingInputDiv {
	width: 100%;
}

.genericValidatingInputInput {}

.genericValidatingInputGlyph {
	top: 0px!important;
}

.genericAJAXProgressModal {
	top: 30%;
}

.genericAJAXProgressModalContainer {
	overflow: hidden;
}

.genericAJAXProgressBarContainer {
	margin-left: 10%;
	margin-right: 10%;
}

.relationWorkflowRightButton {
	float: right;
}

.relationWorkflowRankButtonGroup {
	margin-bottom: 10px;
	margin-left: 45%;
}

/* selectorTable properties */
.selectorTable {
	margin-bottom: 0;
}

.foo {
    margin-bottom: 0;
}

.selectorTableSelector {
	display: inline-table;
	background-color: #FFFFFF;
}

.selectorTableHeader {}

.selectorTableBody {
}

.selectorTableBodyScrollWrapper {
	display: block;
	overflow: auto;
	border-bottom: 2px solid #DDD;
	height: 86%;
}

.selectorTableBodyScrollWrapper2 {
	display: block;
	overflow: auto;
	border-bottom: 2px solid #DDD;
	height: 80%;
}

.selectorTableBodyScrollWrapper3 {
	display: block;
	overflow: auto;
	border-bottom: 2px solid #DDD;
	height: 20%;
}

.selectorTableBodyWrapperwButtons {
	display: block;
	overflow: auto;
	border-bottom: 2px solid #DDD;
	height: 60%;
}

.entitySelectorTableBodyWrapper {
	display: block;
	overflow: auto;
	border-bottom: 2px solid #DDD;
	height: 65%;
}

#entitySetWrapper {
    height: 60%;
}

#indexTableWrapper {
    height: 20%;
}

.selectorTableRow {}

.selectorTableRowWithHover {}

.radioTD {
    padding: 8px 8px 8px 0;
}

.selectorTableRowWithHover:hover {
	background: #f3f3f3;
}

.selectorTableRowSelected {
	background-color: #82bfe7;
}

.selectorTableRowSelected:hover {
	background-color: #82bfe7;
}

.selectorTableHeaderRow:extend(.selectorTableRow) {}

.selectorTableHeaderRow:hover {}

.iceRadioTableContainer {
	margin: 10px;
	border-style: solid;
	border-color: #CCC;		
/* TODO should consolidate with bootflat */
	border-width: 1px;
	border-radius: 3px;
	height: 100%;
}

.iceRadioTable {
	display: table;
}

.iceRadioTableBody {}

.iceRadioTableToggle {
	margin-bottom: 0px;
}

.iceBuildButtons {
	/*
:extend(.genericIceButtonSpan) {
position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
*/
	margin-top: 10px;
	margin-bottom: 10px;

}

.iceCorpusBadge {
	display: inline;
	float: right;
/*	position: absolute;
	right: 10%;
 */
	font-size: 14pt;
	background-color: #86DFFC;
}

/**
*	Navbar
*/

#rootNavbar {
	margin-bottom: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#navbarBreadCrumbs {
	background-color: #86DFFC;
}

.navbarCurrentBreadCrumbSpan {
	background-color: #86DFFC;
	border-right: solid 1px #2494BE;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

/**
*	Home Page
*/

#homePage {
	margin-top: 100px;
}

.homePageButton {
	background-color: white;
	width: 64%;
	margin: 16% 16% 8% 16%;
	padding: 1%;
}

.homePageButton:hover {
  background-color: white;
}

.homePageButton:active {
  background-color: white;
}

.homePageButton:focus {
  background-color: white;
}

.homePageButtonLabel {
	display: block;
	text-align: center;
}

.homePageButtonImage {
	width: 100%;
}

.homePageButtonDiv {
	width: 125px
}

.homePagePanelButtonContent {
	display: inline-flex;
	padding: 10px;
	width: 100%;
}

#addRemoveCorpusPanel {
	width: 280px;
	border: 1px solid #ABEBFF;
}

.corpusSelector {
    height: 80%;
}

.dirSelector {
    height: 80%;
}

.corpusSelectorLabel {
    margin-bottom: 5px; margin-top: 1px;
}

#jobsDisplayPanel {
	width: 450px;
	border: 1px solid #ABEBFF;
}

#jobsInfoContent {
	width: 175px;
	padding-top: 20%;
}

.jobsInfoContentNumber {
	float: right;
}

#manageCorpusPanel {
	border: 1px solid #ABEBFF;
}

#manageCorpusSelectionAndInfo {
	width: 200px;
}

#manageCorpusSelector {
	max-width: 100%;
	margin-bottom: 30px;
}

.manageCorpusInfoNumber {
	float: right;
}

/**
*	Edit Corpora
*/

.editCorporaButtonSpan {
	margin-bottom: 15px;
}

.editCorporaModal {
	top: 30%;
	position: fixed;
	z-index: 1040;
	overflow: hidden;
	outline: 0 none;
	right: 0;
	bottom: 0;
	left: 0;
}

.editCorporaAddModalButtons {
	margin-bottom: 15px;
}

#editCorporaAddModalInput {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#renameCorpusModalInput {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#editCorporaAddFileProgress {
	margin-left: 10%;
	margin-right: 10%;
}

#processCorporaPanel {
    margin-left: 26%;
	min-width: 40em;
}

#filesPanel {
    z-index: 1020;
}

.refreshCell {
    background-color: #D2D7D3;
}

/**
*	Pending Jobs
*/

#pendingJobsContainerDiv {
	width: 100%;
	height: 100%;
	border: 1px solid #ABEBFF;
	overflow: hidden;
}

#pendingJobsSearch {
	float: right;
	width: 30%;
}

.pendingJobsSubTable {
	display: inline-table;
	background-color: #FFFFFF;
}

.pendingJobsProgressBar {
	margin-left: 0%;
	margin-right: 15%;
	margin-bottom: 0%;
}

/**
*	Completed Jobs
*/

#completedJobsContainerDiv {
	width: 100%;
	height: 100%;
	border: 1px solid #ABEBFF;
	overflow: hidden;
}

#completedJobsSearch {
	float: right;
	width: 30%;
}

.completedJobsSubTable {
	display: inline-table;
	background-color: #FFFFFF;
}

/**
*	Export
*/

#exportButtonGroup:extend(.relationWorkflowRightButton) {}

.alert {
    width: 25em;
    top: 50%;
    margin: 3em auto 3em auto;
    position: relative;
}

/**
*	Find Terms
*/

#findTermsLeftDiv {
	width: 30%;
	height: 40%
}

#findTermsTypePanel {
/* :extend(.genericIcePanel) { */
	width: 100%;
	height: 100%;
}

#findTermsBGCorpusSelector {
	max-width: 100%;
	margin-bottom: 30px;
}

#findTermsHighFreqPanel { 
/* :extend(.genericIcePanel) { */
	width: 70%;
	margin-left: 2%;
	height: 100%;
}

#selectBGabel {
    margin-top: 30px;
    margin-bottom: 5px;
}

#highFreqTermsSelector {
	/* margin-bottom: 10px; */
}

.findTermsTypeFilter {
	margin: 10px;
}

.findTermsTypeFilterText {
	margin: 10px;
}

#findRefreshTermsButton {
	margin-bottom: 10px;
}

.termsTermColumn {
    width: 50%;
}

.termsTypeColumn {
    width: 20%;
}

.termsFreqColumn {
    width: 30%;
}

#findTermsBuildEntitySetButtonGroup:extend(.relationWorkflowRightButton) {}

/**
*	Build Entity Sets
*/

#editEntitySetsLeftDiv {
	width: 50%;
	margin-right: 10px;
}

#indicesPanel {
	      width: 100%;
	      height: 48%;
}

#indicesTableSelector {
    height: 60%;
}

#entitySetsPanel {
	width: 100%;
	height: 49%;
}

#entitySetSeedsPanel {
	width: 100%;
	height: 48%;
}

.indexBuildButtons { 
/* :extend(.genericIceButtonSpan) { */
	margin-top: 10px;
	margin-bottom: 10px;
}

.entitySetsBuildButtons {

/* :extend(.genericIceButtonSpan) { */
	margin-top: 10px;
	margin-bottom: 10px;
}

.entitySetButtonSpan {
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	zoom: 1;
	text-align: center;
	padding-top: 1em;
}

.entitySetSeedsBuildButtons {
	display: inline-block;
	width: 60%;
	padding-left: 5px;
	padding-right: 5px;
	zoom: 1;
	text-align: center;
}

#addEntitySetSeedButtonGroup {
	float: left;
}

#deleteEntitySetSeedButtonGroup {
	float: right;
}

.entitySetSeedsInternalSelector:extend(.internalIceSelector) {
	margin-top: 10px !important;
}

.indexNameColumn {
    width: 50%;
}

.indexTypeColumn {
    width: 20%;
}

.indexCutoffColumn {
    width: 30%;
}

#entitiesNewDiv {
	width: 100%;
	display: inline-flex;
	margin: 2% 0;
	padding-left: 2%;
	padding-right: 2%;
}

#entitiesNewInput {
/*    width: 40%; */
}

#corpusNewDiv {
	width: 100%;
	display: inline-flex;
	margin-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
}

.entitiesButtons {
	display: inline-block;
	width: 60%;
	padding-left: 5px;
	padding-right: 5px;
	zoom: 1;
	text-align: center;
}

#addEntityButtonGroup {
	float: left;
}

#deleteEntityButtonGroup {
	float: right;
}

.corpusNewInput { 
	width: 40%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0px;
	display: inline;
}

.corpusFilterInput { 
	width: 6em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0px;
	display: inline;
}

.indexCreateModalFieldContainer {
	width: 60%;
	height: 40px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
	margin-top: 2em;
}

.indexCreateModalInput {
	float: right;
	margin-bottom: 0%!important;
}
.entitySetsCreateModalFieldContainer {
	width: 80%;
	height: 40px;
	margin: 2% 10%;

/*
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
*/
}

.entitySetsCreateModalInput {
	float: right;
	margin-bottom: 0%!important;
}

.rankModal {
	top: 5%;
	z-index: 1;
}
.rankModal .modal-dialog {
	width: 700px;
	height: 100%;
}

.modal-content {
    height: 100%;
}

.rankModalTableContainerPanel {
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	height: 80%;
	margin-bottom: 0px;
}

.rankTable {
	margin-bottom: 0px;
}

.rankTableContainer {
    height: 80%;
}


#entitySetsCreateModalInputName {
/*:extend(.entitySetsCreateModalInput){ */
	width: 60%;
	float: right;
}

#indexCreateModalInputCutoff {
	width: 30%;
	padding: 6px;
}

#entitySetsCreateModalInputCutoff {
/* :extend(.entitySetsCreateModalInput){ */
	width: 30%;
}

#buildEntitySetRankButtonGroup:extend(.relationWorkflowRightButton) {}

#rankEntitiesResetButtonGroup {
	float: left;
}

#rankEntitiesSaveButtonGroup {
	float: right;
}

/**
*	Rank Entities
*/

#rankEntitiesLeftDiv {
	width: 50%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}

#rankEntitiesSetsPanel {

/* :extend(.genericIcePanel) { */
	width: 100%;
	height: 60%;
}

#rankPatternsTable {
	margin-bottom: 0px;
}

.pathPath {
    font-style: italic;
}
#entitySetsRankModalButtonSpan {
	margin-top: 2%;
	margin-bottom: 2%;
}

#entityForm {
    width: 100%; 
}

/**
*	Build Relations
*/

#buildRelationsLeftWrapDiv {
	width: 50%;
	height: 100%;
}

#editRelationsPanel {

}

.selectorWithButtons {
height: 86%;
}

.selector2 {
    height: 100%;
}

#createRelationModal {
	top: 3%;
	display: block;
}

#relationSelectorWrapper {
    height: 65%;
}

#createRelationModal .modal-dialog {
	width: 600px;
}

.editRelationsModalFieldContainer {
	margin-left: 10%;
	margin-right: 10%;
}

#editRelationsCreateModalInputName {
	width: 60%;
	float: right;
	margin-bottom: 0%!important;
}

#buildRelationsSeedPatternPanel {

/* :extend(.genericIcePanel) {*/
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 5%;
	height: 200px;
}

#createRelationModalRankPanel {
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 2%;
	height: 200px;
}

.relationsEditButtons { 
/*:extend(.genericIceButtonSpan) { */
	margin-top: 2px;
	margin-bottom: 10px;
}

#buildRelationsSaveButtonGroup:extend(.relationWorkflowRightButton) {}