<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body ng-controller="operationsList" ng-init="operations.getList()">

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li><a href="home.html">Home</a></li>
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">
	Completed Jobs
      </span>
    </li>
  </ol>
</div>
<div class="panelCenteringDiv">
  <div id="completedJobsContainerDiv" class="panel panel-default genericIcePanel">
    <div class="panel-heading genericIcePanelHeader">
      <text class="unselectableText">Completed Jobs</text>
    </div>
    <div id="completedJobsTable">
      <table class="table selectorTable">
	<thead id="completedJobsTableHeader"><tr>
	    <th style="width: 25%">Operation</th>
	    <th style="width: 25%">Corpus</th>
	    <th style="width: 25%">Status</th>
	    <th style="width: 25%">Next Step</th>
	</tr></thead>
      </table>
      <div class="selectorTableBodyScrollWrapper scrollbar">
	<table class="table selectorTable">
	  <tbody id="completedJobsTableBody" class="selectorTableBody">
	    <tr ng-repeat="completedJob in operations.data.completed" class="selectorTableRowWithHover">
	      <td style="width: 25%">{{ completedJob.name }}</td>
	      <td style="width: 25%">{{ completedJob.corpus }}</td>
	      <td style="width: 25%">{{ completedJob.note }}</td>
	      <td style="width: 25%"><a href="{{ nextUrl(completedJob.id) }}">{{ operations.nextStep[completedJob.name].name }}</a></td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>

</body>
</html>
