<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>

  <link rel="stylesheet" href="css/ice.css" />
  <link rel="stylesheet" href="css/site.min.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body ng-controller="relationsList" ng-init="active=true">

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li><a href="home.html" target="_self">Home</a></li>
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">
	Edit Relations
      </span>
    </li>
  </ol>
</div>
<div id="editRelationsPage">
  <span id="badges">
    <fg-corpus></fg-corpus>
    <bg-corpus></bg-corpus>
  </span>
  <div class="panelCenteringDiv">
    <div id="editRelationsPanel" class="panel panel-default genericIcePanel">
      <div class="panel-heading genericIcePanelHeader">
	<text class="unselectableText">Relations</text>
      </div>
      <span class="genericIceButtonSpan relationsEditButtons">
	<div id="allPatternsButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="allPatternsButton" class="btn btn-block genericIceButton" type="button" ng-click="showAllPatterns()">Show all patterns</button>
	</div>
	<div id="sententialPatternsButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="sententialPatternsButton" class="btn btn-block genericIceButton" type="button" ng-click="showSententialPatterns()">Show sentential patterns</button>
	</div>
      </span>
      <div id="relationSelectorWrapper" class="selectorTableBodyScrollWrapper2 scrollbar">
	<table class="table selectorTable">
	  <tbody id="relationTableSelectorBody" class="selectorTableBody">
	    <tr ng-repeat="relation in relations.data.list" class="selectorTableRowWithHover" ng-click="select(relation)" ng-class="{'selectorTableRowSelected': relation == relations.data.selected }">
	      <td>{{ relation }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <span class="genericIceButtonSpan relationsEditButtons">
	<div id="renameRelationButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="renameRelationButton" class="btn btn-block genericIceButton" type="button" ng-click="showRenameModal()" ng-disabled="!relations.data.selected">Rename</button>
	</div>
	<div id="deleteRelationButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="deleteRelationButton" class="btn btn-block genericIceButton" type="button" ng-click="showDelete=true" ng-disabled="!relations.data.selected">Delete</button>
	</div>
	<div id="exportRelationsButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="exportRelationsButton" class="btn btn-block genericIceButton" type="button" ng-click="relations.export()" ng-disabled="!relations.data.selected">Download relation</button>
	</div>
      </span>
    </div>
    <div id="patternsPanel" class="panel panel-default genericIcePanel" ng-controller="relationInfo" ng-init="active=true">
      <div class="panel-heading genericIcePanelHeader">
	<text class="unselectableText">Patterns</text>
      </div>
      <div ng-if="relationInfo.data.show==='all'" class="selectorTableBodyScrollWrapper2 scrollbar">
	  <table class="table selectorTable">
	    <tbody id="patternTableSelectorBody" class="selectorTableBody">
	      <tr ng-repeat="pattern in relationInfo.data.patterns.patterns" class="selectorTableRow" ng-model="relationInfo.data.selectedPattern" ng-click="relationInfo.selectPattern(pattern)" ng-class="{'selectorTableRowSelected': pattern.completePattern == relationInfo.data.selectedPattern.completePattern }">
		<td>{{ pattern.completePattern }}</td>
	      </tr>
	    </tbody>
	  </table>
      </div>
      <div ng-if="relationInfo.data.show==='relation'" class="selectorTableBodyScrollWrapper2 scrollbar">
	  <table class="table selectorTable">
	    <tbody id="patternTableSelectorBody" class="selectorTableBody">
	      <tr ng-repeat="path in relationInfo.data.info.icePaths" class="selectorTableRow" ng-model="relationInfo.data.selected" title="{{ firstLine(path.example) }}" ng-click="relationInfo.select(path)" ng-class="{'selectorTableRowSelected': path.path == relationInfo.data.selected.path }">
		<td>
		  <div ng-switch on="path.repr || 'null'">
		    <div ng-switch-when="null" class="pathPath">{{ path.path }}</div>
		    <div ng-switch-default>{{ path.repr }}</div>
		  </div>
		</td>
	      </tr>
	    </tbody>
	  </table>
      </div>
      <span class="genericIceButtonSpan relationsEditButtons">
	  <div id="addToRelationButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="addToRelationButton" class="btn btn-block genericIceButton" type="button" ng-click="showAddToRelationModal()" ng-disabled="!relationInfo.data.selected.path && !relationInfo.data.selectedPattern.completePattern">Add to Relation</button>
	  </div>
	  <div id="removePathButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="removePathButton" class="btn btn-block genericIceButton" type="button" ng-click="removePath()" ng-disabled="!relationInfo.data.selected.path && !relationInfo.data.selectedPattern.completePattern">Remove from Relation</button>
	  </div>
	  <div id="expandRelationButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="expandRelationButton" class="btn btn-block genericIceButton" type="button" ng-click="expand()" ng-disabled="!relations.data.selected">Expand relation</button>
	  </div>
	</span>
    </div>
  </div>
</div>

<div id="renameModal" class="ng-hide relationModal genericIceConfirmationModal" ng-show="showRename">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <form class="modal-content" name="renameRelationForm">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">Rename relation</h4>
      </div>
      <div id="renameRelationModalInput" class="form-group has-feedback editRelationsModalFieldContainer" ng-class="{'has-error': renameRelationForm.$invalid, 'has-success': renameRelationForm.$valid}">
	<input id="renameRelationInput" class="form-control genericValidatingInputInput" placeholder="New relation name..." maxlength="25" required ng-model="newRelationName" ng-change="renameFieldChange()" name="renameRelationInput1" focus-on="newRelationName" />
	<span class="form-control-feedback" ng-bind-html="renameFeedback">✘</span>
      </div>
      <span class="genericIceButtonSpan renameRelationModalButtons genericIceConfirmationModalButtonSpan">
	<div id="renameRelationButtonGroup" class="btn-group genericIceButtonGroup">
	  <button type="submit" ng-disabled="renameRelationForm.$invalid" id="renameRelationButton" class="btn btn-block genericIceButton" ng-click="rename()">Rename Relation</button>
	</div>
	<div id="renameCancelButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="renameCancelButton" class="btn btn-block genericIceButton" ng-click="showRename=false">Cancel</button>
	</div>
      </span>
    </form>
  </div>
</div>

<div id="deleteModal" class="ng-hide editCorporaModal" ng-show="showDelete">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">Delete Relation</h4>
      </div>
      <div id="modalBody" class="genericIceConfirmationModalText">
	<p><b>WARNING:</b> this will PERMANENTLY remove the relation and its list of paths.</p>
	<p>Are you sure you want to do this?</p>
      </div>
      <span class="genericIceButtonSpan editCorporaAddModalButtons">
	<div id="confirmOKButtonGroup" class="btn-group genericIceButtonGroup">
	  <button type="button" id="deleteOKButton" class="btn btn-block genericIceButton" ng-click="delete()">OK</button>
	</div>
	<div id="confirmCancelButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="confirmCancelButton" type="button" class="btn btn-block genericIceButton" ng-click="showDelete=false">Cancel</button>
	</div>
      </span>
    </div>
  </div>
</div>

<div id="createRelationModal" class="ng-hide genericIceConfirmationModal" ng-controller="relationInfo" ng-show="iceData.showAddToRelationModal">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">Add path to relation</h4>
      </div>
      <form name="addToRelationForm" ng-submit="addToRelation()">
	<div class="editRelationsModalFieldContainer">
	  <p>Add <b>{{ relationInfo.data.selectedPattern.completePattern }}</b> to a new relation, or an existing relation?</p>
	  <div id="addToRelationModalNameInput" class="form-group has-feedback genericValidatingInputDiv" ng-class="{'has-error': addToRelationForm.$invalid, 'has-success': addToRelationForm.$valid}">
	    <input id="addToRelationInput" class="form-control genericValidatingInputInput" placeholder="{{ relationInfo.data.selectedPattern.completePattern }}" maxlength="28" ng-model="newName" ng-change="addToRelationFieldChange()" name="addToRelationInput1" ng-required="!(newName.length || targetRelation)" focus-on="addToRelationName" />
	    <span class="form-control-feedback" ng-bind-html="addToRelationFeedback">✘</span>
	  </div>
	  <div class="selecter" tabindex="0">
	    <select ng-options="relation for relation in relations.data.list" ng-model="targetRelation" id="addToRelationModalNameSelector" class="selecter-item" name="selecter_basic" ng-change="addToRelationSelect()">
	      <option value="">[New Relation]</option>
	    </select>
	  </div>
	</div>
	<span class="genericIceButtonSpan genericIceConfirmationModalButtonSpan">
	  <div id="addToRelationButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="addToRelationForm.$invalid" id="addToRelationButton" class="btn btn-block genericIceButton">Add To Relation</button>
	  </div>
	  <div id="addToCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="addToCancelButton" class="btn btn-block genericIceButton" ng-click="iceData.showAddToRelationModal=false">Cancel</button>
	  </div>
	</span>
      </form>
    </div>
  </div>
</div>

<div class="ng-hide rankModal" ng-show="showRankPatternsModal">
  <form name="rankPatternsForm" ng-submit="rank()" style="height: {{ modalHeight }}px;">
    <div class="modal-dialog genericIceConfirmationModalDialog">
      <div class="modal-content">
	<div class="modal-header" style="text-align: center;">
	  <h4 class="modal-title">Rank Patterns</h4>
	</div>
	<div class="panel panel-default genericIcePanel rankModalTableContainerPanel">
	  <div class="scrollbar iceRadioTableContainer rankTableContainer">
	    <div class="scroller-content">
	      <table class="table iceRadioTable rankTable">
		<tbody id="rankPatternsTableBody" class="iceRadioTableBody">
		  <tr ng-repeat="pattern in relations.data.expansion | limitTo: 100" class="selectorTableRowWithHover" ng-click="" title="{{ firstLine(pattern.example) }}" ng-keypress="rankKey($event, pattern)">
		    <td>{{ ::pattern.repr }}</td>
		    <td class="radioScore">
		      <div>{{ ::pattern.roundedScore }}</div>
		    </td>
		    <td>
		      <div id="rankPatternsTable_row_{{ $index }}_Yes_Toggle" class="iceRadioToggle radio">
			<input id="rankPatternsTable_row_{{::$index}}_Yes_ToggleINP" ng-model="pattern.userAssess" type="radio" value="y" name="{{::$index}}">
		      </input>
		      <label for="rankPatternsTable_row_{{ $index }}_Yes_ToggleINP" class="genericBFToggleLabel">
			  Yes
			  </label>
		      </div>
		    </td>
		    <td>
		      <div id="rankPatternsTable_row_{{ $index }}_No_Toggle" class="iceRadioToggle radio">
			<input id="rankPatternsTable_row_{{::$index}}_No_ToggleINP" type="radio" value="n" ng-model="pattern.userAssess" name="{{::$index}}">
		      </input>
		      <label class="iceRadioTableText" for="rankPatternsTable_row_{{ $index }}_No_ToggleINP">
			No
		      </label>
		      </div>
		    </td>
		    <td>
		      <div id="rankPatternsTable_row_{{ $index }}_Undecided_Toggle" class="iceRadioToggle radio">
			<input id="rankPatternsTable_row_{{ ::$index }}_Undecided_ToggleINP" type="radio" value="u" ng-model="pattern.userAssess" name="{{::$index}}" focus-on="rankPatterns_{{ ::$index }}_u" ng-keypress="rankKey($event, pattern)">
		      </input>
		      <label class="iceRadioTableText" for="rankPatternsTable_row_{{ $index }}_Undecided_ToggleINP">
			Undecided
		      </label>
		      </div>
		    </td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>
	<span class="genericIceButtonSpan genericIceConfirmationModalButtonSpan">
	  <div id="rankPatternsOKButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="" id="rankPatternsOKButton" class="btn btn-block genericIceButton">Rank</button>
	  </div>
	  <div id="rankPatternsCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="button" id="rankPatternsCancelButton" class="btn btn-block genericIceButton" ng-click="cancelRanking()">Cancel</button>
	  </div>
	  <div id="rankPatternsSaveButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="button" id="rankPatternsSaveButton" class="btn btn-block genericIceButton" ng-click="saveRanking()">Save ranking</button>
	  </div>
	</span>
	</div>
      </div>
    </div>
  </form>
</div>

<div class="ng-hide genericIceWaitModal" ng-show="showWaitModal">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content" style="margin: 0;">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">{{ waitModalTitle }}</h4>
      </div>
      <div id="modalBody" class="genericIceConfirmationModalText">
	<p>Please wait...</p>
	<img src="images/ajax-loader.gif" />
      </div>
    </div>
  </div>
</div>

<div id="exportSuccess" class="alert alert-success alert-dismissable ng-hide" ng-show="showExportSuccess">
  <button class="close" aria-hidden="true" data-dismiss="alert" ng-click="showExportSuccess=false" type="button">
    x
  </button>
  <strong>Export relation to server:</strong>
  Succeeded.
</div>

</body>
</html>
