<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE: Edit Entity Sets</title>

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <!-- script src="js/site.min.js"></script -->
  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body ng-controller="entitySetsList" ng-init="entitySets.getList()">

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li><a href="home.html" target="_self">Home</a></li>
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">
	Edit Entity Sets
      </span>
    </li>
  </ol>
</div>
<div id="editEntitySetsPage">
  <span id="badges">
    <bg-corpus></bg-corpus>
    <fg-corpus></fg-corpus>
  </span>
  <div class="panelCenteringDiv">
    <div id="editEntitySetsLeftDiv">
      <div id="indicesPanel" class="panel panel-default genericIcePanel" ng-controller="indicesList" ng-init="activate()">
	<div class="panel-heading genericIcePanelHeader">
	  <text class="unselectableText">Indices</text>
	  <div class="popover bottom" trigger="mouseenter">
	    <div class="arrow">::after</div>
	    <h3 class="popover-title">Index</h3>
	    <div class="popover-content">
	      <p>{{ iceData.popOver }}</p>
	    </div>
	  </div>
	</div>
	<div id="indicesTableSelector">
	  <table class="table selectorTable">
	    <thead id="indicesTableSelectorHeader"><tr>
	      <th style="width: 50%">Name</th>
	      <th style="width: 20%">Type</th>
	      <th style="width: 30%">Cutoff</th>
	    </tr></thead>
	  </table>
	  <div class="scrollbar selectorTableBodyScrollWrapper2">
	    <table class="table selectorTable">
	      <tbody class="selectorTableBody">
		<tr ng-repeat="indexo in indices.data.list" class="selectorTableRowWithHover" ng-click="indices.select(indexo.name)" ng-class="{'selectorTableRowSelected': indexo.name == indices.data.selected }">
		  <td class="indexNameColumn">{{ indexo.name }}</td>
		  <td class="indexTypeColumn">{{ types[indexo.type].name }}</td>
		  <td class="indexCutoffColumn">{{ indexo.cutoff }}</td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div>
	<span class="genericIceButtonSpan entitySetButtonSpan">
	  <div id="addIndexButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="addIndexButton" class="btn btn-block genericIceButton" type="button" ng-click="showAddIndex()">Add</button>
	  </div>
	  <div id="deleteIndexButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="deleteIndexButton" class="btn btn-block genericIceButton" type="button" ng-click="iceData.showDeleteIndexModal=true" ng-disabled="!indices.data.selected">Delete</button>
	  </div>
	</span>
      </div>

      <div id="entitySetsPanel" class="panel panel-default genericIcePanel">
	<div class="panel-heading genericIcePanelHeader">
	  <text class="unselectableText">Entity Sets</text>
	</div>
	<div class="selectorTableBodyScrollWrapper scrollbar" id="entitySetWrapper">
	  <table class="table selectorTable">
	    <tbody class="selectorTableBody" id="entitySetTableSelectorBody">
	      <tr ng-repeat="(name, entitySet) in entitySets.data.list track by $index" class="selectorTableRowWithHover" ng-click="entitySets.select(name)" ng-class="{'selectorTableRowSelected': name == entitySets.data.selected }">
		<td>{{ name }}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<span class="genericIceButtonSpan entitySetButtonSpan">
	  <div id="addEntitySetButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="addEntitySetButton" class="btn btn-block genericIceButton" type="button" ng-click="showAddEntitySet()">Add</button>
	  </div>
	  <div id="deleteEntitySetButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="deleteEntitySetButton" class="btn btn-block genericIceButton" type="button" ng-click="showDeleteEntitySetModal=true" ng-disabled="!entitySets.data.selected">Delete</button>
	  </div>
	  <div id="exportEntitySetButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="exportEntitySetButton" class="btn btn-block genericIceButton" type="button" ng-click="entitySets.export()">Export</button>
	  </div>
	  <div id="downloadEntitySetButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="downloadEntitySetButton" class="btn btn-block genericIceButton" type="button" ng-click="download()">Download</button>
	  </div>
	</span>
      </div>
    </div>
    <div id="entitiesPanel" class="panel panel-default genericIcePanel">
      <div class="panel-heading genericIcePanelHeader">
	<text class="unselectableText">Entities</text>
      </div>
      <form id="entitiesNewDiv" name="entityForm" ng-submit="addEntity()">
	<div id="entitiesNewInput" class="genericValidatingInputDiv form-group has-feedback" ng-class="{ 'has-error' : !entityValid, 'has-success' : entityValid }">
	  <input class="form-control genericValidatingInputInput" placeholder="New entity..." maxlength="28" ng-required="true" ng-model="newEntity" ng-change="newEntityChange()" name="newEntity" focus-on="newEntity" />
	  <span class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-ok' : entityValid, 'glyphicon-remove' : !entityValid }"></span>
	</div>
	<span class="entitiesButtons">
	  <div id="addEntityButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="!entityValid" id="addEntityButton" class="btn btn-block genericIceButton">Add</button>
	  </div>
	  <div id="deleteEntityButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="deleteEntityButton" class="btn btn-block genericIceButton" type="button" ng-click="entitySets.deleteEntity(entitySets.data.selectedEntity)" ng-disabled="!entitySets.data.selectedEntity">Delete</button>
	  </div>
	</span>
	</form>
      <div class="entitySelectorTableBodyWrapper scrollbar">
	<table class="table selectorTable">
	  <tbody id="entityTableSelectorBody" class="selectorTableBody">
	    <tr ng-repeat="entity in entitySets.data.entities track by $index" class="selectorTableRowWithHover" ng-click="entitySets.selectEntity(entity)" ng-class="{'selectorTableRowSelected': entity == entitySets.data.selectedEntity }">
	      <td>{{ entity }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <span class="genericIceButtonSpan">
	<div id="suggestSeedsButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="suggestSeedsButton" class="btn btn-block genericIceButton" type="button" ng-click="entitySets.suggestSeeds(indices.data.selected)" ng-disabled="!showSuggest">Suggest seeds</button>
	</div>
	<div id="expandEntitySetButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="expandEntitySetButton" class="btn btn-block genericIceButton" type="button" ng-click="expand(indices.data.selected)" ng-disabled="!showSuggest">Expand entity set</button>
	</div>
      </span>
    </div>
  </div>
</div>
<div id="createIndexModal" class="ng-hide genericIceConfirmationModal" ng-show="iceData.showAddIndexModal">
  <div class="modal-dialog genericIceConfirmationModalDialog" ng-controller="indicesList">
    <div class="modal-content" ng-form="createIndexForm">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">Create Index</h4>
      </div>
      <div class="indexCreateModalFieldContainer">
	<text>Frequency Cutoff</text>
	<div id="indexCreateModalInputCutoff" class="form-group has-feedback genericValidatingInputDiv indexCreateModalInput" ng-class="{'has-error': !formValid, 'has-success': formValid}">
	  <input id="indexCreateModalInput" class="form-control genericValidatingInputInput" placeholder="Frequency cutoff..." ng-maxlength="4" max="10" ng-required="true" ng-model="cutoff" ng-change="cutoffChange()" name="cutoff1" type="number" step="0.1" focus-on="indexCutoff" />
	  <span class="form-control-feedback" ng-bind-html="cutoffFeedback"></span>
	</div>
      </div>
      <div class="indexCreateModalFieldContainer row">
	<div class="col-md-4"><text>Entity type</text></div>
	<div class="col-md-4">
	  <label class="" for="buildIndexModalTypeNounINP">
	    <input id="buildIndexModalTypeNounINP" class="genericBFToggleINP" type="radio" ng-model="type" ng-change="entityTypeChange()" ng-required="true" name="buildIndexModalType" value="Noun"></input>
	    Noun</label>
	</div>
	<div class="col-md-4">
	  <label class="" for="buildIndexModalTypeNameINP">
	    <input id="buildIndexModalTypeNameINP" class="genericBFToggleINP" type="radio" name="buildIndexModalType" ng-required="true" ng-change="entityTypeChange()" ng-model="type" value="Name"></input>
	    Name</label>
	</div>
      </div>
      <span class="genericIceButtonSpan genericIceConfirmationModalButtonSpan">
	<div id="createIndexModalOKButtonGroup" class="btn-group genericIceButtonGroup">
	  <button type="submit" ng-disabled="!formValid" id="createIndexButton" class="btn btn-block genericIceButton" ng-click="createIndex()">Create Index</button>
	</div>
	<div id="createIndexModalCancelButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="createIndexModalCancelButton" class="btn btn-block genericIceButton" ng-click="iceData.showAddIndexModal=false">Cancel</button>
	</div>
      </span>
    </div>
  </div>
</div>

<div id="deleteIndexModal" class="ng-hide genericIceConfirmationModal" ng-show="iceData.showDeleteIndexModal" ng-controller="indicesList">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">Delete Index</h4>
      </div>
      <div id="modalBody" class="genericIceConfirmationModalText modal-body">
	<p><b>WARNING:</b> This will PERMANENTLY remove the index from the server.</p>
	<p>Are you sure you want to do this?</p>
      </div>
      <span class="genericIceButtonSpan editCorporaAddModalButtons">
	<div id="confirmOKButtonGroup" class="btn-group genericIceButtonGroup modal-footer">
	  <button type="button" id="deleteOKButton" class="btn btn-block genericIceButton" ng-click="delete()">OK</button>
	</div>
	<div id="confirmCancelButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="confirmCancelButton" type="button" class="btn btn-block genericIceButton" ng-click="iceData.showDeleteIndexModal=false">Cancel</button>
	</div>
      </span>
    </div>
  </div>
</div>

<div id="addEntitySetModal" class="ng-hide" ng-show="showAddEntitySetModal">
  <form name="addEntitySetForm" ng-submit="add()">
    <div class="modal-dialog genericIceConfirmationModalDialog">
      <div class="modal-content">
	<div class="modal-header" style="text-align: center;">
	  <h4 class="modal-title">AddEntitySet</h4>
	</div>
	<div class="entitySetsCreateModalFieldContainer">
	  <text>Name:</text>
	  <div id="entitySetsCreateModalInputName" class="form-group has-feedback genericValidatingInputDiv" ng-class="{'has-error': addEntitySetForm.$invalid, 'has-success': addEntitySetForm.$valid}">
	    <input class="form-control genericValidatingInputInput" placeholder="New entity set name..." maxlength="28" required ng-model="newName" ng-change="nameFieldChange()" name="entitySetNameInput1" focus-on="entitySetName" />

	  </div>
	</div>
	<span class="genericIceButtonSpan genericIceConfirmationModalButtonSpan">
	  <div id="addEntitySetButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="addEntitySetForm.$invalid" id="addEntitySetOKButton" class="btn btn-block genericIceButton">Add</button>
	  </div>
	  <div id="renameCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="addEntitySetCancelButton" class="btn btn-block genericIceButton" ng-click="showAddEntitySetModal=false">Cancel</button>
	  </div>
	</span>
      </div>
    </div>
  </form>
</div>

<div id="deleteEntitySetModal" class="ng-hide genericIceConfirmationModal" ng-show="showDeleteEntitySetModal">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">Delete Entity Set</h4>
      </div>
      <div id="modalBody" class="genericIceConfirmationModalText">
	<p><b>WARNING:</b> This will remove the entity set and its
list of entities with their user rankings from the server.</p>
	<p>Are you sure you want to do this?</p>
      </div>
      <span class="genericIceButtonSpan editCorporaAddModalButtons">
	<div id="confirmOKButtonGroup" class="btn-group genericIceButtonGroup">
	  <button type="button" id="deleteOKButton" class="btn btn-block genericIceButton" ng-click="delete()">OK</button>
	</div>
	<div id="confirmCancelButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="confirmCancelButton" type="button" class="btn btn-block genericIceButton" ng-click="showDeleteEntitySetModal=false">Cancel</button>
	</div>
      </span>
    </div>
  </div>
</div>

<div id="rankEntitiesModal" class="ng-hide rankModal" ng-show="showRankEntitiesModal">
  <form name="rankEntitiesForm" ng-submit="rank()" style="height: {{ modalHeight }}px;">
    <div class="modal-dialog genericIceConfirmationModalDialog">
      <div class="modal-content">
	<div class="modal-header" style="text-align: center;">
	  <h4 class="modal-title">Rank Entities</h4>
	</div>
	<div class="panel panel-default genericIcePanel rankModalTableContainerPanel">
	  <div class="scrollbar iceRadioTableContainer rankTableContainer">
	    <div class="scroller-content">
	      <table class="table iceRadioTable rankTable">
		<tbody id="rankEntitiesTableBody" class="iceRadioTableBody">
		  <tr ng-repeat="entity in entitySets.data.ranking | limitTo:75" class="selectorTableRowWithHover" ng-click="" ng-keypress="rankKey($event, entity)">
		    <td>{{::entity.text}}</td>
		    <td>
		      <div id="rankEntitiesTable_row_{{ ::$index }}_Yes_Toggle" class="iceRadioToggle radio">
			<input id="rankEntitiesTable_row_{{::$index}}_Yes_ToggleINP" ng-model="entity.decision" type="radio" value="YES" focus-on="rankEntities_{{::$index}}_y" name="{{::$index}}">
		      <label class="iceRadioTableText" for="rankEntitiesTable_row_{{ ::$index }}_Yes_ToggleINP">
			  Yes
			  </label>
		      </input>
		      </div>
		    </td>
		    <td>
		      <div id="rankEntitiesTable_row_{{ ::$index }}_No_Toggle" class="iceRadioToggle radio">
			<input id="rankEntitiesTable_row_{{::$index}}_No_ToggleINP" type="radio" value="NO" ng-model="entity.decision" focus-on="rankEntities_{{ ::$index }}_y" name="{{::$index}}">
		      <label class="iceRadioTableText" for="rankEntitiesTable_row_{{ $index }}_No_ToggleINP">
			No
		      </label>
		      </input>
		      </div>
		    </td>
		    <td>
		      <div id="rankEntitiesTable_row_{{ ::$index }}_Undecided_Toggle" class="iceRadioToggle radio">
			<input id="rankEntitiesTable_row_{{ ::$index }}_Undecided_ToggleINP" type="radio" value="UNDECIDED" ng-model="entity.decision" focus-on="rankEntities_{{ ::$index }}_u" name="{{::$index}}">
		      </input>
		      <label class="iceRadioTableText" for="rankEntitiesTable_row_{{ ::$index }}_Undecided_ToggleINP">
			Undecided
		      </label>
		      </div>
		    </td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>
	<span class="genericIceButtonSpan genericIceConfirmationModalButtonSpan">
	  <div id="rankEntitiesOKButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="" id="rankEntitiesOKButton" class="btn btn-block genericIceButton">Rank</button>
	  </div>
	  <div id="rankEntitiesCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="button" id="rankEntitiesCancelButton" class="btn btn-block genericIceButton" ng-click="showRankEntitiesModal=false">Cancel</button>
	  </div>
	  <div id="rankEntitiesSaveButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="button" id="rankEntitiesSaveButton" class="btn btn-block genericIceButton" ng-click="saveRanking()">Save ranking</button>
	  </div>
	</span>
	</div>
      </div>
    </div>
  </form>
</div>

<div class="ng-hide genericIceWaitModal" ng-show="showWaitModal">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content" style="margin: 0;">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">{{ waitModalTitle }}</h4>
      </div>
      <div id="modalBody" class="genericIceConfirmationModalText modal-body">
	<p>Please wait...</p>
	<img src="images/ajax-loader.gif" />
      </div>
    </div>
  </div>
</div>

<div class="ng-hide genericIceWaitModal" ng-show="showExpandWaitModal">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content" style="margin: 0;">
      <div class="modal-header" style="text-align: center;">
	<h4 class="modal-title">{{ waitModalTitle }}</h4>
      </div>
      <div id="expandWaitModalBody" class="genericIceConfirmationModalText modal-body">
      <!-- div id="expandWaitModalBody" class="modal-body" -->
	<p>Expanding entity set...</p>
	<div class="progress">
	  <div class="progress-bar" style="width: {{expandStatus.progress}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{expandStatus.progress}}" role="progressbar">{{expandStatus.progress}}%</div>
	</div>
      </div>
    </div>
  </div>
</div>

<div id="exportSuccess" class="alert alert-success alert-dismissable ng-hide" ng-show="showExportSuccess">
  <button class="close" aria-hidden="true" data-dismiss="alert" ng-click="showExportSuccess=false" type="button">
    x
  </button>
  <strong>Export:</strong>
  Entity sets exported to server types file.
</div>

</body>
</html>
