<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>
  <base href="/~angus/aice/" />

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body ng-controller="corporaList" ng-init="corpora.getList()">

  <div id="rootNavbar">
    <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
      <li><a href="home.html">Home</a></li>
      <li class="active">
	<span class="navbarCurrentBreadCrumbSpan unselectableText">
	  Edit Corpora
	</span>
      </li>
    </ol>
  </div>
  <div class="panelCenteringDiv">
    <div id="corporaPanel" class="panel panel-default genericIcePanel">
      <div class="panel-heading genericIcePanelHeader">
	<text class="unselectableText">Corpora</text>
      </div>
      <div class="corpusSelector">
	<table class="table selectorTable">
	  <thead id="corpusTableSelectorHeader"><tr>
	      <th style="width: 70%">Corpus</th>
	      <th style="width: 30%">Documents</th>
	  </tr></thead>
	</table>
	<div class="selectorTableBodyScrollWrapper">
	  <table class="table selectorTable">
	    <tbody class="selectorTableBody">
	      <tr ng-repeat="corpus in corpora.data.list" class="selectorTableRowWithHover" ng-model="corpus" ng-click="corpora.select(corpus.name)" ng-class="{'selectorTableRowSelected': corpus.name == corpora.data.selected }">
		<td>{{ corpus.name }}</td>
		<td>{{ corpus.numberOfDocs }}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
      <span class="genericIceButtonSpan editCorporaButtonSpan">
	<div id="renameCorporaButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="renameCorporaButton" class="btn btn-block genericIceButton" type="button" ng-click="showRename=true" ng-disabled="!corpora.data.selected">Rename</button>
	</div>
	<div id="deleteCorporaButtonGroup" class="btn-group genericIceButtonGroup">
	  <button id="deleteCorporaButton" class="btn btn-block genericIceButton" type="button" ng-click="showDelete=true" ng-disabled="!corpora.data.selected">Delete</button>
	</div>
      </span>
    </div>
    <div id="filesPanel" class="panel panel-default genericIcePanel" ng-controller="corpusDirs" ng-init="dirs.getList()">
      <form name="addCorpusForm" ng-submit="submit()">
	<div class="panel-heading genericIcePanelHeader">
	  <text class="unselectableText">Add Corpus</text>
	</div>

	<div id="corpusNewDiv" ng-form="newInputs">
	  <div id="corpusNew" class="form-group has-feedback genericValidatingInputDiv" ng-class="{'has-error': newInputs.$invalid, 'has-success': newInputs.$valid}">
	    <input id="corpusNewInput1" class="form-control genericValidatingInputInput corpusNewInput" placeholder="New corpus name..." maxlength="28" required ng-model="addCorpusName" ng-change="fieldChange()" name="corpusNewInput1" focus-on="corpusNew" />
	    <input id="corpusNewInput2" class="form-control genericValidatingInputInput corpusFilterInput" placeholder="sgm" maxlength="6" required ng-model="addCorpusFilter" ng-change="fieldChange()" name="corpusNewInput2" />
	    <span class="form-control-feedback" ng-bind-html="formFeedback">✘</span>
	  </div>
	</div>
	<div class="dirSelector">
	  <div class="selectorTableBodyScrollWrapper">
	    <table class="table selectorTable">
	      <tbody id="dirSelectorBody" class="selectorTableBody">
		<tr ng-repeat="dir in dirs.data.list" class="selectorTableRowWithHover" ng-model="dir" ng-click="dirs.select(dir)" ng-class="{'selectorTableRowSelected': dir == dirs.data.selected }" required>
		  <td>{{ dir }}</td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div>

	<span class="genericIceButtonSpan editCorporaButtonSpan">
	  <div id="addCorpusButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="newInputs.$invalid || !dirs.data.selected" id="addCorpusButton" class="btn btn-block genericIceButton">Add Corpus</button>
	  </div>
	</span>
      </form>
    </div>
  </div>

  <div id="renameModal" class="ng-hide editCorporaModal" ng-show="showRename">
    <div class="modal-dialog genericIceConfirmationModalDialog">
      <div class="modal-content" ng-form="renameCorpusForm">
	<div class="modal-header" style="text-align: center;">
	  <h4 class="modal-title">Rename corpus</h4>
	</div>
	<div id="renameCorpusModalInput" class="form-group has-feedback genericValidatingInputDiv" ng-class="{'has-error': renameCorpusForm.$invalid, 'has-success': renameCorpusForm.$valid}">
	  <input id="corpusRenameInput" class="form-control genericValidatingInputInput" placeholder="New corpus name..." maxlength="28" required ng-model="newName" ng-change="renameFieldChange()" name="corpusRenameInput1" />
	  <span class="form-control-feedback" ng-bind-html="renameFeedback">✘</span>
	</div>
	<span class="genericIceButtonSpan editCorporaAddModalButtons">
	  <div id="renameCorpusButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="submit" ng-disabled="form.$invalid" id="renameCorpusButton" class="btn btn-block genericIceButton" ng-click="rename()">Rename Corpus</button>
	  </div>
	  <div id="renameCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="renameCancelButton" class="btn btn-block genericIceButton" ng-click="showRename=false">Cancel</button>
	  </div>
	</span>
      </div>
    </div>
  </div>

  <div id="deleteModal" class="ng-hide editCorporaModal" ng-show="showDelete">
    <div class="modal-dialog genericIceConfirmationModalDialog">
      <div class="modal-content">
	<div class="modal-header" style="text-align: center;">
	  <h4 class="modal-title">Delete Corpus</h4>
	</div>
	<div id="modalBody" class="genericIceConfirmationModalText">
	  <p><b>WARNING:</b> Deleting a corpus will not remove the original content files, but it will PERMANENTLY remove all entity sets, relations, and index files from the server.</p>
	<p>Are you sure you want to do this?</p>
	</div>
	<span class="genericIceButtonSpan editCorporaAddModalButtons">
	  <div id="confirmOKButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="button" id="deleteOKButton" class="btn btn-block genericIceButton" ng-click="delete()">OK</button>
	  </div>
	  <div id="confirmCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="confirmCancelButton" type="button" class="btn btn-block genericIceButton" ng-click="showDelete=false">Cancel</button>
	  </div>
	</span>
      </div>
    </div>
  </div>
</div>
</body>
</html>
