<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>
  <base href="/~angus/aice/" />

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body>

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">Home</span>
    </li>
  </ol>
</div>
<div id="rootContainer">
  <div id="homePage" class="container" style="display:block;">
    <div class="row">
      <div class="col-md-6">
	<div id="addRemoveCorpusPanel" class="panel panel-default">
	  <div class="panel-heading genericIcePanelHeader">
	    <text class="unselectableText">Manage Corpora</text>
	  </div>
	  <div class="homePagePanelButtonContent">
	    <div class="homePageButtonDiv">
	      <a href="editCorpora.html" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/AddCorpus.png" />
		</button>
		<text class="homePageButtonLabel">Edit Corpora...</text>
	      </a>
	    </div>
	    <div class="homePageButtonDiv">
	      <a href="processCorpora.html" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/AddCorpus.png" />
		</button>
		<text class="homePageButtonLabel">Process Corpora...</text>
	      </a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-6">
	<div id="jobsDisplayPanel" class="panel panel-default">
	  <div class="panel-heading genericIcePanelHeader">
	    <text class="unselectableText">Jobs</text>
	  </div>
	  <div class="homePagePanelButtonContent">
	    <div class="homePageButtonDiv">
	      <button type="disabled" class="homePageButton">
		<server-status></server-status>
	      </button>
	      <text class="homePageButtonLabel">Server status</text>
	    </div>
	    <div id="jobsInfoContent" ng-controller="operationsList" ng-init="init()">
	      <div style="margin-top: 45px;">
		<text>Jobs Pending: </text>
		<text class="jobsInfoContentNumber">{{ operations.data.pendingTotal }}</text>
	      </div>
	      <div>
		<text>Jobs Completed: </text>
		<text class="jobsInfoContentNumber">{{ operations.data.completedTotal }}</text>
	      </div>
	    </div>
	    <div class="homePageButtonDiv">
	      <a href="pendingJobs.html" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/RunningProcesses.png" />
		</button>
		<text class="homePageButtonLabel">Pending Jobs...</text>
	      </a>
	    </div>
	    <div class="homePageButtonDiv">
	      <a href="completedJobs.html" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/CompletedJobs.png" />
		</button>
		<text class="homePageButtonLabel">Completed Jobs...</text>
	      </a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div id="manage-corpus-panel" class="panel panel-default">
	  <div class="panel-heading genericIcePanelHeader">
	    <text class="unselectableText">Explore Corpus</text>
	  </div>
	  <div class="homePagePanelButtonContent" ng-controller="corpusNamesList" ng-init="corpusNames.getList()">
	    <div id="manageCorpusSelectionAndInfo">
	      <h6 class="corpusSelectorLabel">Foreground corpus: </h6>
	      <div class="selecter " tabindex="0">
		<select ng-options="corpus for corpus in corpusNames.list" ng-model="iceData.fg" id="manageFGCorpusSelector" class="  selecter-item" name="selecter_basic" ng-change="corpusNames.saveForeground()"></select>
	      </div>
	      <h6 class="corpusSelectorLabel">Background corpus: </h6>
	      <div class="selecter corpusSelector closed" tabindex="0">
		<select ng-options="corpus for corpus in corpusNames.list" ng-model="iceData.bg" id="manageBGCorpusSelector" class="selector_basic selecter-item genericIceSelector scroller" name="bgselecter_basic" ng-change="saveBackground(iceData.bg)"></select>
	      </div>
	    </div>
	    <div class="homePageButtonDiv">
	      <a href="viewEntities.html?foregroundCorpus={{iceData.fg}}" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/EditEntitySets.png" />
		</button>
		<text class="homePageButtonLabel">View Entities...</text>
	      </a>
	    </div>
	    <div class="homePageButtonDiv">
	      <a href="editEntitySets.html?corpus={{iceData.fg}}&backgroundCorpus={{iceData.bg}}" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/EditEntitySets.png" />
		</button>
		<text class="homePageButtonLabel">Edit Entity Sets...</text>
	      </a>
	    </div>
	    <div class="homePageButtonDiv">
	      <a href="editRelations.html" target="_self">
		<button class="btn homePageButton" type="button">
		  <img class="homePageButtonImage" src="images/EditTerms.png" />
		</button>
		<text class="homePageButtonLabel">Edit Relations...</text>
	      </a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
</div>
</body>
</html>
