<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body ng-controller="operationsList" ng-init="init()">

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li><a href="home.html">Home</a></li>
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">
	Pending Jobs
      </span>
    </li>
  </ol>
</div>
<div class="panelCenteringDiv">
  <div id="pendingJobsContainerDiv" class="panel panel-default genericIcePanel">
    <div class="panel-heading genericIcePanelHeader">
      <text class="unselectableText">Pending Jobs</text>
    </div>
    <div id="pendingJobsTable">
      <table class="table selectorTable">
	<thead id="pendingJobsTableHeader"><tr>
	    <th style="width: 15%">Operation</th>
	    <th style="width: 25%">Corpus</th>
	    <th style="width: 35%">Progress</th>
	    <th style="width: 25%">Status</th>
	</tr></thead>
      </table>
      <div class="selectorTableBodyScrollWrapper scrollbar">
	<table class="table selectorTable">
	  <tbody id="pendingJobsTableBody" class="selectorTableBody">
	    <tr ng-repeat="pendingJob in operations.data.pending" class="selectorTableRowWithHover">
	      <td style="width: 15%">{{ pendingJob.name }}</td>
	      <td style="width: 25%">{{ pendingJob.corpus }}</td>
	      <td style="width: 35%">
		<div class="progress">
		  <div class="progress-bar" style="width: {{pendingJob.progress}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{pendingJob.progress}}" role="progressbar">{{pendingJob.progress}}%</div>
		</div>
	      </td>
	      <td width="25%">{{ pendingJob.note }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>

</body>
</html>
