<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body ng-controller="corporaList" ng-init="corpora.getList()">

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li><a href="home.html">Home</a></li>
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">
	Process Corpora
      </span>
    </li>
  </ol>
</div>
<div class="panelCenteringDiv">
  <div id="processCorporaPanel" class="panel panel-default genericIcePanel" ng-controller="corporaList">
    <div class="panel-heading genericIcePanelHeader">
      <text class="unselectableText">Corpora</text>
    </div>
    <div id="corpusTableSelector">
      <table class="table selectorTable">
	<thead id="corpusTableSelectorHeader"><tr>
	    <th style="width: 20%">Name</th>
	    <th style="width: 15%">Count Words</th>
	    <th style="width: 35%">Indices</th>
	    <th style="width: 15%">Find Patterns</th>
	    <th style="width: 15%">Refresh Info</th>
	</tr></thead>
      </table>
      <div class="selectorTableBodyScrollWrapper scrollbar">
	<table class="table selectorTable">
	  <tbody id="corpusTableSelectorBody" class="selectorTableBody">
	    <tr ng-repeat="corpus in corpora.data.list" class="selectorTableRowWithHover" ng-model="corpus" ng-class="{'selectorTableRowSelected': corpus.name == corpora.data.selected }">
	      <td ng-click="corpora.select(corpus.name)" style="width: 20%">{{ corpus.name }}</td>
	      <td ng-click="corpora.select(corpus.name)" style="width: 15%">{{ corpusStatus[corpus.countStatus] }}</td>
	      <td ng-click="corpora.select(corpus.name)" style="width: 35%">{{ iString(corpus.indices) }}</td>
	      <td ng-click="corpora.select(corpus.name)" style="width: 15%">{{ corpusStatus[corpus.relationStatus] }}</td>
	      <td ng-click="corpora.refreshInfo(corpus.name)" class="refreshCell" style="width: 15%">Refresh</td>
	  </tr>
	  </tbody>
	</table>
      </div>
    </div>
    <span class="genericIceButtonSpan editCorporaButtonSpan">
      <div id="preprocessCorpusButtonGroup" class="btn-group genericIceButtonGroup">
	<button id="preprocessButton" class="btn btn-block genericIceButton" type="button" ng-click="confirmProcess('pr')" ng-disabled="!corpora.data.selected">Preprocess</button>
      </div>
      <div id="renameCorporaButtonGroup" class="btn-group genericIceButtonGroup">
	<button id="countWordsButton" class="btn btn-block genericIceButton" type="button" ng-click="confirmProcess('cw')" ng-disabled="!corpora.data.selected">Count words</button>
      </div>
      <div id="deleteCorporaButtonGroup" class="btn-group genericIceButtonGroup">
	<button id="findRelationsButton" class="btn btn-block genericIceButton" type="button" ng-click="confirmProcess('fp')" ng-disabled="!corpora.data.selected">Find relations</button>
      </div>
    </span>
  </div>
</div>

<div id="confirmModal" class="ng-hide confirmModal" ng-show="corpora.data.okToConfirm">
  <div class="modal-dialog genericIceConfirmationModalDialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
	<!-- h4 class="modal-title">{{ cTitleOptions[corpora.data.processName] }}</h4 -->
	<h4><span ng-switch on="corpora.data.longProcessName">
	  <span ng-switch-when="cw">Count Words</span>
	  <span ng-switch-when="fp">Find Patterns</span>
	  <span ng-switch-when="pr">Preprocess</span>
	</span>
	</h4>
      </div>
      <div id="modalBody" class="genericIceConfirmationModalText">
	<span ng-switch on="corpora.data.processType">
	  <span ng-switch-when="prnp">The <b> {{ corpora.data.selectedCorpus.name }}</b> corpus has not previously been analyzed. Before continuing to the next step, this new corpus must be completely preprocessed. There are <b>{{ corpora.data.selectedCorpus.numberOfDocs }}</b> documents in this corpus.</span>
	  <span ng-switch-when="prp">The <b>{{ corpora.data.selectedCorpus.name }}</b> corpus has already been analyzed; reanalysis is only needed if the documents contained within the corpus have changed. There are <b>{{ corpora.data.selectedCorpus.numberOfDocs }}</b> documents in this corpus.</span>
	  <span ng-switch-when="cwnp">The <b> {{ corpora.data.selectedCorpus.name }}</b> corpus has not previously been analyzed. Before continuing to the next step, the terms in this new corpus must first be counted. There are <b>{{ corpora.data.selectedCorpus.numberOfDocs }}</b> documents in this corpus.</span>
	  <span ng-switch-when="cwp">The <b>{{ corpora.data.selectedCorpus.name }}</b> corpus has already been analyzed; reanalysis is only needed if the documents contained within the corpus have changed. There are <b>{{ corpora.data.selectedCorpus.numberOfDocs }}</b> documents in this corpus.</span>
	  <span ng-switch-when="fpnp">The <b>{{ corpora.data.selectedCorpus.name }}</b> corpus has not previously been scanned for relations. Before continuing to the next step, the relations in this new corpus must first be analyzed.</span>
	  <span ng-switch-when="fpp">Finding patterns for <b>{{ corpora.data.selectedCorpus.name }}</b> has already been performed; reanalysis is only needed if the documents contained within the corpus have changed</span>
	</span>
	<br /><br />If you wish to launch this job, click OK.<br /><br />If you prefer to select an already analyzed corpus, click Cancel.
      </div>
	<span class="genericIceButtonSpan editCorporaAddModalButtons">
	  <div id="confirmOKButtonGroup" class="btn-group genericIceButtonGroup">
	    <button type="button" id="confirmOKButton" class="btn btn-block genericIceButton" ng-click="corpora.processCorpus()">OK</button>
	  </div>
	  <div id="confirmCancelButtonGroup" class="btn-group genericIceButtonGroup">
	    <button id="confirmCancelButton" type="button" class="btn btn-block genericIceButton" ng-click="iceData.showConfirmModal=false">Cancel</button>
	  </div>
	</span>
      </div>
    </div>
  </div>
</body>
</html>
