<!doctype html>
<html lang="en" ng-app="iceApp">
<head>
  <meta charset="utf-8">
  <title>ICE</title>
  <base href="/~angus/aice/" />

  <link rel="stylesheet" href="css/site.min.css" />
  <link rel="stylesheet" href="css/ice.css" />
  <link id="favicon" href="images/logo.png" rel="shortcut icon" />

  <script src="js/angular.min.js"></script>
  <script src="js/iceApp.js"></script>
  <script src="js/iceServices.js"></script>
  <script src="js/iceControllers.js"></script>
</head>
<body>

<div id="rootNavbar">
  <ol id="navbarBreadcrumbs" class="breadcrumb breadcrumb-arrow navBar">
    <li><a href="home.html" target="_self">Home</a></li>
    <li class="active">
      <span class="navbarCurrentBreadCrumbSpan unselectableText">
	View Entities
      </span>
    </li>
  </ol>
</div>
<div id="viewEntitiesPage" ng-controller="entitiesList" ng-init="init()">
  <span id="badges">
    <bg-corpus></bg-corpus>
    <fg-corpus></fg-corpus>
  </span>
  <div class="panelCenteringDiv">
    <div id="findTermsLeftDiv">
      <div id="findTermsTypePanel" class="panel panel-default genericIcePanel">
	<div class="panel-heading genericIcePanelHeader">
	  <text class="unselectableText">Entity Types</text>
	</div>
	<span ng-repeat="type in types">
	  <div class="findTermsTypeFilter">
	    <input type="checkbox" name="findTermsFilter" id="{{type.sname}}" value="{{ type.sname }}" checked="checked" ng-model="type.checked"></input>
	    <text class="findTermsTypeFilterText unselectableText">{{ type.name }}</text>
	  </div>
	</span>
      </div>
      <h6 class="selectBGlabel">Select Background Corpus</h6>
      <div class="selecter corpusSelector closed" tabindex="0">
	<select ng-options="name for name in corpusNames.list" ng-model="iceData.bg" id="findTermsBGCorpusSelector" class="selector_basic selecter-selected selecter-item genericIceSelector scroller" name="selecter_basic" ng-change="saveBackground(iceData.bg)"></select>
      </div>
    </div>
    <div id="findTermsHighFreqPanel" class="panel panel-default genericIcePanel">
      <div class="panel-heading genericIcePanelHeader">
	<text class="unselectableText">High Frequency Entities</text>
      </div>
      <table class="table selectorTable">
	<thead id="entityTableSelectorHeader"><tr>
	    <th style="width: 50%">Term</th>
	    <th style="width: 20%">Type</th>
	    <th style="width: 30%">Frequency</th>
	</tr></thead>
      </table>
      <div class="selectorTableBodyScrollWrapper">
	<table class="table selectorTable">
	  <tbody id="entityTableSelectorBody" class="selectorTableBody">
	    <tr ng-repeat="entity in entities.data.list | filter: filterEntity" class="selectorTableRow" ng-model="entity">
	      <td class="termsTermColumn">{{ entity.text|rawTerm }}</td>
	      <td class="termsTypeColumn">{{ types[entity.type].name }}</td>
	      <td class="termsFreqColumn">{{ entity.score| number:0 }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
